* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==========================
   Fontes
========================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
  --fundoprincimpal: #111111;
  --overlaybg: rgba(255, 255, 255, 0.8);
  --destaque-glow: #0af;
  --textoprincimpal: #ffffff;
  --placeholder: #9aa3ad;
  --hoverbotao: #09c;
  --peqdetalhes: #ffb347;
}

body {
  font-family: 'Poppins', Verdana, Tahoma, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url('../recursos/imagens/Ret-bg-cidade-azul.jpg') center/cover no-repeat scroll;
  color: var(--textoprincimpal);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  gap: 3em;

}

/* Tema claro */
body.claro {
  --fundoprincimpal: #f4f6f8;
  --overlaybg: rgba(255, 255, 255, 0.7);
  --destaque-glow: #e69500;
  --textoprincimpal: #1a1a1a;
  --placeholder: #6a5f55;
  --hoverbotao: #cc7f00;
  --peqdetalhes: #ff9900;
  background: url("../recursos/imagens/M-bg-cidade-dia.jpg") center/cover no-repeat fixed;;
}

body.claro #container {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 20px var(--overlaybg);
}

body.claro #botaotema {
  background-color: var(--destaque-glow);
}

body.claro #botaotema i {
  color: var(--fundoprincimpal);
}

body.claro #botaotema:hover {
  background-color: var(--hoverbotao);
}

body.claro #contanova a {
  color: #7c2d12;
}

body.claro input[type="checkbox"] {
  accent-color: var(--destaque-glow);
}

h1, h2 {
  font-family: 'Montserrat', Helvetica, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display:flex;
  align-items: center;
  padding: 0.5em 0 1em 2em;
  z-index: 10;
  background: transparent;
}

#botaotm {
  height:100%;
  width: 100%;
}

header button {
  max-width: 80px;
  min-height: 30px;
  background: transparent;
  border: 1px solid var(--textoprincimpal);
  color: var(--textoprincimpal);
  font-size: 0.3em;
  cursor: pointer;
}

#botaotema i {
  color: var(--textoprincimpal);
  font-size: 20px;
  transition: 0.2s;
}

header > button:hover{
  color: var(--destaque-glow);
  transform: scale(1.15)
}

#container {
  position: relative;
  z-index: 1;
  width: 90%;
  max-width: 400px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  background-color: transparent;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px var(--destaque-glow);
  text-align: center;
}

#container h1 {
  font-family: 'Montserrat', Helvetica, sans-serif;
}

/* container */
#mensagem {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* título */
.titulo {
  font-size: 2.2rem;
  line-height: 1.1;
  color: var(--textoprincimpal);
  text-align: center;
}

/* spans */
.titulo span {
  display: block;
}

.inputs-box {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  position: relative; /* para posicionar os ícones */
}

.inputs-box label {
  text-align: left;
  font-size: 0.9em;
  margin-bottom: 0.3em;
  color: var(--textoprincimpal);
}

.inputs-box input {
  width: 100%;
  padding: 0.75em 1em;
  border-radius: 8px;
  border: none;
  outline: none;
  background: var(--overlaybg);
  color: var(--textoprincimpal);
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  position: relative;  /* referência para o ícone */
  display: block;
  margin-bottom: 1em;
  padding-right: 3.2em;
}

.inputs-box input::placeholder {
  color: var(--placeholder);
}

input[type="checkbox"] {
  accent-color: var(--destaque-glow);
}

.inputs-box input:focus {
  color: var(--hoverbotao);
  text-shadow: 0 0 5px var(--destaque-glow);
}

.inputs-box input:focus::placeholder {
  opacity: 0.8;
}

.inputs-box  i#emailicone, #iconesenha {
  position: absolute;
  right: 20px;
  top: 50%;
  color: var(--destaque-glow);
  font-size: 1.2em;
}

.inputs-box  i#emailicone {
  pointer-events: none;
}

#esqueceusenha {
  margin: 1em 0;
  text-align: left;
  font-size: 0.85em;
}

#esqueceusenha a{
  margin-right: 0.5em;
  text-decoration: none;
  color: var(--textoprincimpal);
  font-weight: 600;
}

#esqueceusenha a:hover {
  color: var(--hoverbotao);
}

button {
  width: 100%;
  padding: 0.75em;
  border-radius: 8px;
  border: none;
  background: var(--destaque-glow);
  color: var(--textoprincimpal);
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 0.5em;
}

button:hover, button:active {
  background: var(--hoverbotao);
  box-shadow: 0 0 10px var(--destaque-glow);
}

#contanova {
  margin-top: 1em;
  font-size: 0.9em;
  color: var(--textoprincimpal);
}

#contanova a {
  color: var(--destaque-glow);
  text-decoration: none;
}

#contanova a:hover, a:active {
  text-decoration: underline;
}

#iconesenha {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  border: none;
  background: transparent;
  padding: 0.25em;
  border-radius: 6px;
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s, color 0.3s;
}

#iconesenha:hover, #iconesenha:active {
  opacity: 1;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
   backdrop-filter: blur(4px);
  box-shadow: 0 0 8px var(--destaque-glow);
}

#iconesenha:focus-visible {
  outline: 2px solid var(--destaque-glow);
  outline-offset: 2px;
}

@media (min-width: 768px) {
  body {
    background: url('../recursos/imagens/M-bg-cidade-azul.jpg') center/cover no-repeat fixed;
  }

  #container {
    min-width: 750px;
    min-width: 800px;
    padding: 3em;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3em;
  }

  #mensagem {
    flex: 1;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .titulo {
    font-size: 3rem;
    text-align: left;
    line-height: 1;
    max-width: 360px;
  }

  .linha-1 {
    margin-left: 0;
  }

  .linha-2 {
    margin-left: 28px;
  }

  button {
    font-size: 1.1em;
    padding: 1em;
  }
  
  form {
    flex: 1;
  }

  #contanova {
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  body {
    background: url('../recursos/imagens/2K-bg-cidade-azul.jpg') center/cover no-repeat fixed;
  }

  #container {
    max-width: 850px;
    padding: 4em;
  }
}